
{% extends 'paginas/carousel.html' %}
  
{% block titulo %}Editar Documento{% endblock %}
{% load static  %}
<link type="text/css" href="{% static 'css/estilo.css' %}" rel="stylesheet">

  
{% block contenido %} 
<nav class="navbar" style="background-color: #FFFFFF;">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1"></span>
    </div>
  </nav>

<div class="card">
    <div class="card-header">
      Editar datos faltantes:
    </div>
    <div class="card-body">
        <h4 class="card-title">Documento</h4>
        {% include 'menu/form_a8.html'%}

    </div>
</div>


{% endblock %}