
{% extends 'paginas/carousel.html' %}
  
{% block titulo %}Otros{% endblock %}
{% load static  %}
<link type="text/css" href="{% static 'css/estilo.css' %}" rel="stylesheet">

  
{% block contenido %} 
<div class="d-flex align-items-center">
  <div class="btn-group btn-group-justified" style="height:250px;width:1600px;">
    <a href="cat_b18" class="btn btn-outline-warning " style="height:280px;width:200px"><img class="img" src="https://cdn-icons-png.flaticon.com/512/3108/3108752.png" alt="img" style="width: 20%;height: 25%; margin-bottom:10px; margin-top:10px;" /></br>Estancia de investigación en instituciones académicas o de investigación (mínimo 20 días hábiles o 160 hrs.)</a>
    <a href="cat_b19" class="btn btn-outline-warning " style="height:280px;width:200px"><img class="img" src="https://cdn-icons-png.flaticon.com/512/1164/1164651.png" alt="img" style="width: 20%;height: 25%; margin-bottom:10px; margin-top:10px;" /></br>Asignaturas con créditos impartidas en Especialidad, Maestría y/o Doctorado de PNPC</a>
    <a href="cat_b20" class="btn btn-outline-warning " style="height:280px;width:200px"><img class="img" src="https://cdn-icons-png.flaticon.com/512/2191/2191259.png" alt="img" style="width: 20%;height: 25%; margin-bottom:10px; margin-top:10px;" /></br>Participación en proyectos de investigación, con financiamiento interno (máximo dos proyectos)</a>
    <a href="cat_b21" class="btn btn-outline-warning " style="height:280px;width:200px"><img class="img" src="https://cdn-icons-png.flaticon.com/512/7554/7554639.png" alt="img" style="width: 20%;height: 25%; margin-bottom:10px; margin-top:10px;" /></br>Publicación de artículo en revista no arbitrada de divulgación científica o tecnológica.</a>
    <a href="cat_b22" class="btn btn-outline-warning " style="height:280px;width:200px"><img class="img" src="https://cdn-icons-png.flaticon.com/512/2256/2256305.png" alt="img" style="width: 20%;height: 25%; margin-bottom:10px; margin-top:10px;" /></br>Participación en eventos de divulgación científica</a> 
    <a href="cat_b23" class="btn btn-outline-warning " style="height:280px;width:200px"><img class="img" src="https://cdn-icons-png.flaticon.com/512/1721/1721936.png" alt="img" style="width: 20%;height: 25%; margin-bottom:10px; margin-top:10px;" /></br>Evaluación de Trabajos de Investigación o Proyectos</a>     
  </div>

</div>

{% endblock %}