{% extends 'paginas/carousel.html' %}
  
{% block titulo %}Participacion en Proyectos{% endblock %}
{% load static  %}
<link type="text/css" href="{% static 'css/estilo.css' %}" rel="stylesheet">

  
{% block contenido %} 

<div class="d-flex align-content-center">
    <div class="btn-group btn-group" style="height:300px;width:350px">
      <a href="cat_a12" class="btn btn-outline-warning" style="height:300px;width:350px"><img class="img" src="https://cdn-icons-png.flaticon.com/512/6679/6679627.png" alt="img" style="width: 30%;height: 30%; margin-bottom:10px; margin-top:10px;" /></br>Participación en proyectos de investigación científica, desarrollo tecnológico e
        innovación con financiamiento externo obtenido mediante convocatoria.</a>
      
    </div>
    
  </div>

  
    
  </div>
  

{% endblock %}