{% extends 'paginas/carousel.html' %}
  
{% block titulo %}Ciencia{% endblock %}
{% load static  %}
<link type="text/css" href="{% static 'css/estilo.css' %}" rel="stylesheet">

  
{% block contenido %} 

<nav class="navbar" style="background-color: #FFFFFF;">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1"></span>
  </div>
</nav>

<div class="d-flex align-items-center">
    <div class="btn-group btn-group" style="height:250px;width:1500px">
      <a href="cat_a1" class="btn btn-outline-warning" style="height:250px;width:200px"><img class="img" src="https://cdn-icons-png.flaticon.com/512/5347/5347332.png" alt="img" style="width: 30%;height: 30%; margin-bottom:10px; margin-top:10px;" /></br>Autoría o Coautoría de libro científico con arbitraje.</a>
      <a href="cat_a2" class="btn btn-outline-warning" style="height:250px;width:200px"><img class="img" src="https://cdn-icons-png.flaticon.com/512/3417/3417311.png" alt="img" style="width: 30%;height: 30%; margin-bottom:10px; margin-top:10px;" /></br>Trámite de solicitud de derecho de Patente</a>
      <a href="cat_a3" class="btn btn-outline-warning" style="height:250px;width:200px"><img class="img" src="https://cdn-icons-png.flaticon.com/128/1435/1435779.png" alt="img" style="width: 30%;height: 30%; margin-bottom:10px; margin-top:10px;" /></br>Obtención del título de Derechos de Patente (incluye modelo de utilidad /diseño industrial).</a>
      <a href="cat_a4" class="btn btn-outline-warning" style="height:250px;width:200px"><img class="img" src="https://cdn-icons-png.flaticon.com/512/1728/1728462.png" alt="img" style="width: 30%;height: 30%; margin-bottom:10px; margin-top:10px;" /></br>Trámite de solicitud de derecho de obtentor</a>
    </div>
    
  </div>

  <div class="d-flex align-items-center">
    <div class="btn-group btn-group" style="height:250px;width:1500px">
      <a href="cat_a5" class="btn btn-outline-warning" style="height:250px;width:200px"><img class="img" src="https://cdn-icons-png.flaticon.com/512/5755/5755347.png" alt="img" style="width: 30%;height: 30%; margin-bottom:10px; margin-top:10px;" /></br>Obtención de derecho de obtentor</a>
      <a href="cat_a6" class="btn btn-outline-warning" style="height:250px;width:200px"><img class="img" src="https://cdn-icons-png.flaticon.com/512/2147/2147797.png" alt="img" style="width: 30%;height: 30%; margin-bottom:10px; margin-top:10px;" /></br>Desarrollo de software con derechos de autor.</a>
      <a href="cat_a7" class="btn btn-outline-warning" style="height:250px;width:200px"><img class="img" src="https://cdn-icons-png.flaticon.com/512/1925/1925500.png" alt="img" style="width: 30%;height: 30%; margin-bottom:10px; margin-top:10px;" /></br>Publicación de artículo o nota científica en revista indexada.</a>
      <a href="cat_a8" class="btn btn-outline-warning" style="height:250px;width:200px"><img class="img" src="https://cdn-icons-png.flaticon.com/512/7415/7415659.png" alt="img" style="width: 30%;height: 30%; margin-bottom:10px; margin-top:10px;" /></br>Publicación de artículo científico o nota científica en revista arbitrada.</a>
    </div>
    
  </div>

  <div class="d-flex align-items-center">
    <div class="btn-group btn-group" style="height:250px;width:1500px">
      <a href="cat_a9" class="btn btn-outline-warning" style="height:250px;width:200px"><img class="img" src="https://cdn-icons-png.flaticon.com/512/6466/6466754.png" alt="img" style="width: 33%;height: 30%; margin-bottom:10px; margin-top:10px;" /></br>Autoría o Coautoría de capítulo de libro científico con arbitraje.</a>
      <a href="cat_a10" class="btn btn-outline-warning" style="height:250px;width:200px"><img class="img" src="https://cdn-icons-png.flaticon.com/128/1733/1733116.png" alt="img" style="width: 30%;height: 30%; margin-bottom:10px; margin-top:10px;" /></br>Implementación tecnológica</a>
      <a href="cat_a11" class="btn btn-outline-warning" style="height:250px;width:200px"><img class="img" src="https://cdn-icons-png.flaticon.com/512/1734/1734356.png" alt="img" style="width: 30%;height: 30%; margin-bottom:10px; margin-top:10px;" /></br>Publicación de artículo o nota científica en revista arbitrada de divulgación científica o tecnológica.</a>
    </div>
    
  </div>
  

{% endblock %}