
{% extends "base.html" %}

{% load static  %}


{% block titulo %} Nosotros {% endblock %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />



{% block contenido %} 


<div class="container">
    
		
    <div class="titulo" >
        <br/>Consejo Veracruzano de Investigación Científica y Desarrollo Tecnológico.<br/>
    </div>
    
    <div class="parrafo1" >
        <br/><b>Misión</b><br/>
    Fomentar, impulsar, coordinar y apoyar el desarrollo de las acciones públicas y privadas relacionadas con<br/>
    el avance de la ciencia y tecnología en el Estado,así como atender la política que en la materia fije el<br/>
    titular del Poder Ejecutivo.<br/>
    <br/><b>Acciones</b><br/>
    Apoyar, impulsar y fomentar la investigación científica, el desarrollo tecnológico y la innovación<br/>
    en Veracruz. Realizar diagnósticos permanentes de las necesidades estatales en materia de ciencia y<br/> 
    tecnología para detectar y analizar las diversas problemáticas que se presenten y proponer soluciones<br/>
    adecuadas. Cuidar que se canalicen recursos públicos y privados en el Estado para el fomento de la<br/>
    ciencia, tecnología e innovación, tanto nacionales como extranjeros. Apoyar la formación de recursos<br/>
    humanos para la investigación científica y tecnológica mediante el fortalecimiento de los posgrados<br/>
    en el Estado, llevando a cabo una tarea continua de actualización de los conocimientos científicos.<br/> 
    y tecnológicos en la población, en el curricular de las instituciones de educación y en el sector<br/>
    productivo y de servicios.<br/>
    <br/><p></p>

    </div>
    

</div>

{% endblock %}