{% extends 'base.html'%}
{%block titulo%}Evaluador{%endblock%}

{%block contenido%}
<div class="card">
    <div class="card-header">
        <h2 class="card-title">Panel de evaluaciones</h2>
    </div>
    <div class="card-header">
        <tr>
        <td><a class="btn btn-outline-success" href="evaluacion_a1">Autoría o Coautoría de libro científico con arbitraje</a>
        <a class="btn btn-outline-warning" href="evaluacion_a2">Trámite de solicitud de derecho de Patente</a></td>
        <td><a class="btn btn-outline-danger" href="evaluacion_a3">Obtención del título de Derechos de Patente</a> <a class="btn btn-outline-primary" href="evaluacion_a4">Trámite de solicitud de derecho de obtentor</a></td>
        <td><a class="btn btn-outline-success" href="evaluacion_a5">Obtención de derecho de obtentor</a> <a class="btn btn-outline-secondary" href="evaluacion_a6">Desarrollo de software con derechos de autor</a></td>
        <td></td>
    </tr>
    </div>
</div>
{%endblock%}